header {
  display: flex;
  height:60px;
  align-items: center;
  background-color: #EFEFEF;
}
header a {
  text-decoration: none;
}
header a:link, a:visited, a:hover, a:active {
  color: black;
}
header nav {
  margin-left: auto;
}
header ul {
  display: flex;
  list-style:none;
}
header ul li {
  margin-left: 20px;
}
h2 a {
  text-decoration: none;
}
